    /* styles for browsers larger than 960px; */
    * {
        box-sizing: border-box;
    }
    body {
        margin: 5% 8%;
    }
    div {
        background-color: rgb(201, 195, 195);
        border: 1px solid;
        text-align: center;
    }




