
    /* styles for browsers larger than 960px; */
    header div {
        /* width: 960px; */
        width: 100%;
        height: 100px;
      
    }
    footer div {
        float: left;
        /* width: 760px; */
        width: 80%;
        height: 150px;
    }

    .a{
        width:100% ;
        height:100px;
    }
    .b{
        width:20.8% ;
        height:600px;
        float: left;
    }
    .c,.d{
        height: 200px;
    }
    .letterefgh {
        height:250px;
    }
    .i{
        height:150px; 
    }
    #divC{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    #divD{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .letterefgh{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%; 
    }
  




@media  screen and (min-width:768px)  {
    header div {
        /* width: 960px; */
        width: 100%;
        height: 100px;
 
    }
    footer div {
        float: left;
        /* width: 760px; */
        width: 80%;
        height: 150px;
    }
}
.a{
    width:100% ;
    height:100px;
}
.b{
    width:20.8% ;
    height:600px;
    float: left;
}
.c,.d{
    height: 200px;
}
.letterefgh {
    height:250px;
}
.i{
    height:150px; 
}
#divC{
    display: grid;
    grid-template-columns: 50% 50%;
}
#divD{
    display: grid;
    grid-template-columns: 50% 50%;
}
.letterefgh{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%; 
}

@media screen and (min-width:480px)  {
    header div {
        /* width: 960px; */
        width: 100%;
        height: 100px;
      
    }
    footer div {
        float: left;
        /* width: 760px; */
        width: 80%;
        height: 150px;
    }
}
.a{
    width:100% ;
    height:100px;
}
.b{
    width:20.8% ;
    height:600px;
    float: left;
}
.c,.d{
    height: 200px;
}
.letterefgh {
    height:250px;
}
.i{
    height:150px; 
}
#divC{
    display: grid;
    grid-template-columns: 50% 50%;
}
#divD{
    display: grid;
    grid-template-columns: 50% 50%;
}
.letterefgh{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%; 
}